

<ul>
  <% @bookmark_urls.each do |bookmark| %>
    <li><a href= "<%=bookmark.url %>"> <%= bookmark.title %> </a> </li>
    <form action='/delete'>
    	<input type="hidden" name="delete_id" value="<%=bookmark.id%>"/>

    	<button type="submit" value='delete-<%=bookmark.id%>'> Delete </button>
    </form>
    	
  <% end %>
</ul>


<%= flash[:notice] %>

<br/>

<form method="post" action="/create">
	<label>Url: </label>
	<input type="text" name="url">
	<br/>
	<label>Title: </label>
	<input type="text" name="title">
	<br/>
	<input type="submit" name="Add" id="Add">
</form>
